@import url('../../../assets/scss/_variables.scss');
@import url('../../../assets/scss/_fonts.scss');


$main-background-color: #1a1a1a;
$secondary-background-color: #2a2a2a;

#page1-page {
    .container {
        display: grid;
        place-items: center;
        height: 70vh;
    }

    #adidasLogo3x {
        width: 60%;
        margin: 5%;
    }

    h1 {
        font-family: 'adineuePROBold';
        text-align: center;
        font-size: 300%;
        color: white;
        margin-bottom: 20px;
    }

    p {
        font-family: 'AdiHausDIN';
        color: white;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 130%;
    }

    .buttonPressed {
        background-color: white !important;
        color: $main-background-color !important;
        img {
            filter: invert(100%);
        }
        transition: background-color 0.1s ease;
    
    }

    #startButton {
        font-family: 'adineuePROBold';
        width: 25%;
        height: auto;
        display: inline-block;
        padding: 1% 5%;
        margin: 3% 0 7% 0;
        border: 2px solid white;
        border-radius: 8px;
        background-color: transparent;
        color: white;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 200%;
    }

    .datetime-wrapper {
        display: flex;
        align-items: center;
    }

    #currentDate {
        margin: 0 50px 0 50px;
        color: white;
        display: inline-block;
        vertical-align: middle;
    }

    #currentTime {
        margin: 0 0 0 50px;
        color: white;
        display: inline-block;
        vertical-align: middle;
    }

    #startButton:active {
        background-color: white !important;
        color: $main-background-color !important;

        img {
            filter: invert(100%);
        }

        transition: background-color 0.1s ease;
    }

    #languageButtonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #chooseEnglish,
    #chooseFrench {
        font-family: 'adineuePROBold';
        width: 20%;
        font-size: 140%;
        display: flex;
        align-items: center;
        background-color: #1a1a1a;
        color: #FFF;
        padding: 1%;
        margin: 2%;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    #chooseEnglish img,
    #chooseFrench img {
        width: 25%;
        padding: 0 5% 0 2%;
    }

    .active {
        background-color: white !important;
        color: #1a1a1a !important;
    }

    #currentRoom {
        font-family: 'adineuePROBold' !important;
        position: fixed;
        color: white;
        font-size: 140%;
        bottom: 10px;
        left: 10px;
        padding: 5px 10px;
    }

}