<section id="page1-page" class="details-container" aria-labelledby="Page1">


    <div class="container">

        <img id="adidasLogo3x" src="./app/template/assets/img/adidas-logo-3x-tw-w800.png">

        <h1 data-lang-key="welcomeMsg"></h1>
        <p data-lang-key="welcomeHint"></p>

        <div id="startButton" data-lang-key="btnStart"></div>



        <div class="datetime-wrapper">
            <p data-lang-key="txtToday"></p>
            <p id="currentDate"></p>
            <p data-lang-key="txtTime"></p>
            <p id="currentTime"></p>
        </div>

        <div id="languageButtonWrapper">
            <div id="chooseEnglish"> <img src="./app/template/assets/img/translate.svg"> ENGLISH </div>
            <div id="chooseFrench"> <img src="./app/template/assets/img/translate.svg"> FRAN&Ccedil;AIS </div>
        </div>

    </div>

    <div id="currentRoom">AUDITORIUM</div>

</section>