<section id="selectlocality-page" class="details-container" aria-labelledby="Selectlocality">

    <div class="column" id="localUseColumn">
        <img src="./app/template/assets/img/geo-alt-fill.svg">
        <h1 data-lang-key="localUseHeader"></h1>
    </div>

    <div class="column" id="meetingColumn">
        <img src="./app/template/assets/img/people-fill.svg">
        <h1 data-lang-key="meetingHeader"></h1>
    </div>

    <div id="navButton">
        <h1 data-lang-key="homeButtonHeader"></h1>
        <div id="returnToHomePage"> <img src="./app/template/assets/img/house-fill.svg"> </div>
    </div>
    
</section>