<section id="monitorcontrol-page" class="details-container" aria-labelledby="Monitorcontrol">
  <div class="column source" id="sourceColumn">
    <h1 data-lang-key="sourceHeader"></h1>

    <p data-lang-key="sourceHint"></p>

    <div id="signageButton" class="sourceButton" data-lang-key="signageButton"></div>
    <div id="tvPlayerButton" class="sourceButton" data-lang-key="tvPlayerButton"></div>
    <div id="laptopInputButton" class="sourceButton" data-lang-key="laptopInputButton"></div>
    <div id="videoConButton" class="sourceButton" data-lang-key="videoConButton"></div>
  </div>

  <div class="column volume" id="volumeColumn">
    <div id="columnHeader">
      <h1 data-lang-key="monitorButtonsHeader"></h1>
      <div style="width: 2rem"></div>
    </div>

    <p data-lang-key="monitorButtonsHint"></p>

    <div id="ledButtons">
      <div id="ledOn" data-lang-key="on"></div>
      <div id="ledOff" data-lang-key="off"></div>
    </div>
  </div>

  <div class="column channels" id="channelColumn">
    <div id="columnHeader">
      <h1 data-lang-key="channelHeader"></h1>
      <img src="./app/template/assets/img/x-lg-white.svg" class="toggle-icon" data-target="volumeColumn" />
    </div>
    <div id="channelButtonContainer" class="button-container"></div>
  </div>

  <div id="backButtonColumn" class="column">
    <h1 data-lang-key="backButtonHeader"></h1>
    <div id="backButtonImageContainer">
      <img src="./app/template/assets/img/arrow-back.svg" class="navButtonIcon" />
    </div>
  </div>

  <div id="homeButtonColumn" class="column">
    <h1 data-lang-key="homeButtonHeader"></h1>
    <div id="homeButtonImageContainer">
      <img src="./app/template/assets/img/house-fill.svg" class="navButtonIcon" />
    </div>
  </div>
</section>
