#loading-page {
  width: 100%;
  height: 100%;
  place-items: center;
  display: grid;

  ch5-animation {
    color: white;
  }

  #loading-text {
    color: white;
    font-family: "adineuePROBold";
    font-size: 30px;
  }
}
