#fire-page {
    margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cf0000;
        height: 100%;
    
    #emergency-message {
        font-weight: 700;
        font-size: 100px;
        text-align: center;
        color: white;
    }
}